* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --square-size: 120px;
  --player-1-color: #6987c9;
  --player-2-color: #7880b5;
  --btn-color: #adbceb;
  --scoresheet-offset: -200px;
}

html {
  height: 100vh;
  background: linear-gradient(to bottom left, #ff9dba, #f2bcff, #b0c4ff);
}

header {
  text-align: center;
  font-size: 7rem;
  font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
  padding: 2rem;
}

body {
  position: relative;
}

.btn {
  cursor: pointer;
}

.player-1,
.opp-player-1 {
  color: var(--player-1-color);
}

.player-2,
.opp-player-2,
.opp-ai {
  color: var(--player-2-color);
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-board {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, var(--square-size));
  gap: 6px;
  margin: auto;
  border-radius: 25px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  width: var(--square-size);
  height: var(--square-size);
  background-color: white;
}

.square-0 {
  border-radius: 25px 0 0 0;
}

.square-2 {
  border-radius: 0 25px 0 0;
}

.square-6 {
  border-radius: 0 0 0 25px;
}

.square-8 {
  border-radius: 0 0 25px 0;
}

.tictac {
  font-size: 4rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: bottom;
  padding-top: 15%;
}

/*  SCORESHEETS */
.scoresheet {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 5px 0px rgba(102, 26, 86, 0.267);
}

.player-1.scoresheet {
  left: var(--scoresheet-offset);
}

.player-2.scoresheet {
  right: var(--scoresheet-offset);
}

.player-active {
  animation-name: sheet-bob;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes sheet-bob {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-7.5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.material-icons-outlined.opp-player-1.scoresheet-icon,
.material-icons-outlined.opp-player-2.scoresheet-icon {
  font-size: 5rem;
}

.score,
.name {
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
}

.score {
  font-size: 3rem;
}

.name {
  font-size: 2rem;
  padding: 0 1rem 1.5rem;
}

/*  WINNER MESSAGE */

.win-log {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 36, 83, 0.952);
  color: white;
  border-radius: 25px;
}

.win-message {
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

.btn.play-again {
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: var(--btn-color);
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(112, 73, 112, 0.479);
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  transition: transform ease-in-out 100ms;
}

.btn.play-again:hover {
  transform: scale(1.1);
}

/*  CHOOSE OPPONENT */

.game-opponents {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: max-content;
}

.opponent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  margin: 1rem auto;
  box-shadow: 0px 5px 5px 0px rgba(102, 26, 85, 0.678);
  background-color: white;
  transition: transform ease-in-out 300ms;
  cursor: pointer;
}

.opponent:hover {
  transform: scale(1.1);
}

.material-icons-outlined.opp-player-1,
.material-icons-outlined.opp-player-2,
.material-icons-outlined.opp-ai {
  font-size: 6rem;
  font-weight: 300;
  padding: 0.3em;
}

.opp-vs {
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-align: end;
  padding-top: 1rem;
}

/*  GAME PLAYERS */
.game-players {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0px 5px 10px 0px rgba(102, 26, 86, 0.884);
  padding: 2em 0;
}

.players-stats {
  display: flex;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input {
  width: 240px;
  height: max-content;
  padding: 1rem;
  background-color: transparent;
  animation-name: eminput;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes eminput {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-15%);
  }
  100% {
    transform: translateY(0%);
  }
}

.name-input:focus {
  outline: none;
  animation: none;
}

.name-input,
.name-input::placeholder {
  font-size: 2rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  text-align: center;
}

.btn.start-game {
  width: max-content;
  margin: auto;
  padding: 1rem 2rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-color: var(--btn-color);
  border-radius: 20px;
  box-shadow: 0px 5px 5px 0px #4a5575e5;
  cursor: pointer;
  transition: transform ease-in-out 200ms;
}

.btn.start-game:hover {
  transform: scale(1.1);
}

/*  HELPER STYLES */
.hidden {
  display: none;
}
