* {
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --board-cell-dimension: clamp(75px, 20vw, 125px);
  --board-border-radius: 30px;
  --scoresheet-offset: calc(100% + 25px);
  --box-shadow-1: 0px 7px 10px 2px rgba(55, 55, 55, 0.6),
    0px 10px 25px 5px rgba(105, 31, 155, 0.3);
  --box-shadow-2: 0px 5px 2px 1px rgba(0, 0, 0, 0.65);

  --color-player-1: rgb(93, 114, 184);
  --color-player-2: rgb(177, 99, 223);
}

@keyframes bobUpAndDown {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes bobScoresheet {
  0% {
    transform: translateY(-55%);
  }

  50% {
    transform: translateY(-45%);
  }

  100% {
    transform: translateY(-55%);
  }
}

body {
  background: linear-gradient(
    30deg,
    rgba(154, 152, 255, 0.7),
    rgba(206, 153, 255, 0.7),
    rgba(221, 109, 212, 0.7),
    rgba(255, 111, 200, 0.7)
  );
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 48;
}

.container {
  height: clamp(500px, 100vh, 2000px);
  position: relative;
  overflow-x: auto;
}

.logo {
  margin: 0px auto;
  padding: 50px;
  text-align: center;
  font-size: clamp(3rem, 1.5rem + 8vw, 5.5rem);
  font-family: 'Londrina Solid', Arial, Helvetica, sans-serif, monospace;
  transform: skewX(-2deg);
}

.screen--select,
.screen--name-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

/*  SELECTION SCREEN */

.screen--select {
  flex-direction: column;
  gap: 50px;
}

.select-vs {
  height: clamp(100px, 50%, 150px);
  width: clamp(220px, 45vw, 450px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: clamp(7px, 30%, 20px);
  border-radius: 25px;
  background-color: white;
  box-shadow: var(--box-shadow-1);
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.1s ease-in;
  cursor: default;
}

.select-vs:hover,
.select-vs:active {
  transform: scale(1.1);
}

.select-vs--icon.material-symbols-outlined {
  font-size: clamp(3rem, 0.8197rem + 9.1803vw, 6.5rem);
}

.select-vs--player .select-vs--icon:first-child,
.select-vs--ai .select-vs--icon:first-child {
  color: var(--color-player-1);
}

.select-vs--player .select-vs--icon:last-child,
.select-vs--ai .select-vs--icon:last-child {
  color: var(--color-player-2);
}

.select-vs .vs-text,
.screen--name-input .vs-text {
  font-size: clamp(2rem, 1.2525rem + 3.1475vw, 3.2rem);
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  transform: translateY(15%);
}

/* NAME INPUT */

.screen--name-input {
  width: clamp(240px, 80vw, 700px);
  height: 370px;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: var(--box-shadow-1);
  padding: 30px;
  padding-bottom: 10px;
  border-radius: 20px;
}

.name-input--wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

.name-input .material-symbols-outlined {
  font-size: clamp(5rem, 2.6923rem + 6.1538vw, 6.5rem);
}

.name-input--player-1 .material-symbols-outlined {
  color: var(--color-player-1);
}

.name-input--player-2 .material-symbols-outlined {
  color: var(--color-player-2);
}

.name-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.name-input input {
  animation: bobUpAndDown 0.65s linear 0s infinite;
  width: 100%;
  background: none;
  color: rgba(70, 70, 70, 0.75);
  text-align: center;
  font-size: 2rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
}

.name-input input:focus {
  outline: none;
  animation: none;
  color: black;
}

.screen--name-input .vs-text {
  font-size: clamp(2.5rem, -1.3235rem + 9.4118vw, 4.5rem);
}

.btn-start {
  padding: 20px 30px;
  background-color: var(--color-player-1);
  color: white;
  font-size: 1.7rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif, monospace;
  border-radius: 25px;
  box-shadow: var(--box-shadow-2);
  transition: 0.1s ease-in;
}

.btn-start:hover,
.btn-start:active {
  transform: scale(1.1);
}

/* BOARD STYLES */
.screen--board {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  gap: 7px;
  /* z-index: 5; */
}

.board-cell {
  height: var(--board-cell-dimension);
  width: var(--board-cell-dimension);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 3.5rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
}

.cell-0 {
  border-top-left-radius: var(--board-border-radius);
}

.cell-2 {
  border-top-right-radius: var(--board-border-radius);
}

.cell-6 {
  border-bottom-left-radius: var(--board-border-radius);
}

.cell-8 {
  border-bottom-right-radius: var(--board-border-radius);
}

.display-winner {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 3s ease-in;
}

.display-winner--overlay {
  background-color: rgba(35, 23, 87, 0.85);
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: var(--board-border-radius);
}

.display-winner--text {
  font-size: 2.4rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  color: white;
  z-index: 1;
  text-align: center;
  padding: 10px;
}

.scoresheet-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.scoresheet--player1,
.scoresheet--player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  background-color: white;
  width: 150px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
  transform: translateY(-50%);
}

.scoresheet--player1 {
  right: var(--scoresheet-offset);
  color: var(--color-player-1);
}

.scoresheet--player2 {
  left: var(--scoresheet-offset);
  color: var(--color-player-2);
}

.scoresheet--icon.material-symbols-outlined {
  font-size: 4.5rem;
}

.scoresheet--player-name {
  font-size: 1.65rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif, monospace;
  max-width: 130px;
  overflow: hidden;
  text-align: center;
}

.scoresheet--player-score {
  font-size: 2.75rem;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif, monospace;
}

.scoresheet--player-active {
  animation: bobScoresheet 1s ease-out 0s infinite;
}

.btn-play-again {
  border-radius: 10px;
  background-color: #5e67a3;
  color: white;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  box-shadow: var(--box-shadow-2);
  transition: 0.1s ease-in;
  margin-top: 15px;
  padding: 15px 30px;
  font-size: 1.5rem;
}

.btn-play-again:hover,
.btn-play-again:active,
.btn-back:hover,
.btn-back:active {
  transform: scale(1.1);
}

.btn-back {
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  background: none;
  font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
  color: var(--color-player-1);
  transition: 0.1s ease-in;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  margin-top: 2.4rem;
  padding: 1rem;
  color: #5e67a3;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-desc {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 1em;
  text-align: center;
  font-size: clamp(0.75rem, 0.5786rem + 0.9143vw, 0.95rem);
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #424870;
}

/*  HELPER STYLES */

.hidden {
  display: none;
}

/*  MEDIA QUERIES */

@media (max-width: 800px) {
  .scoresheet-wrapper {
    width: clamp(200px, 60vw, 300px);
    height: auto;
    top: calc(100% + 100px);
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .scoresheet--player1,
  .scoresheet--player2,
  .scoresheet--player-active {
    transform: translateX(-50%);
    animation: none;
    position: static;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }

  .scoresheet--player-name {
    flex-grow: 1;
    max-width: none;
    text-align: left;
    font-size: clamp(1.2rem, 0.93rem + 1.44vw, 1.65rem);
  }

  .scoresheet--player-score {
    font-size: clamp(1.5rem, 0.75rem + 4vw, 2.75rem);
  }

  .scoresheet--icon.material-symbols-outlined {
    font-size: clamp(2.4rem, 1.6rem + 4.2667vw, 4rem);
  }

  .btn-back {
    display: none;
  }
}

@media (max-width: 600px) {
  @keyframes bobUpAndDown {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(20%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .name-input--wrapper {
    flex-direction: column;
    gap: 50px;
  }

  .name-input--wrapper .vs-text {
    display: none;
  }

  .name-input--player-1,
  .name-input--player-2 {
    flex-direction: row;
    gap: 10px;
  }

  .name-input--icon.material-symbols-outlined {
    font-size: clamp(3rem, 1.2857rem + 9.1429vw, 5rem);
  }

  .name-input input {
    width: 150px;
    font-size: clamp(1.5rem, 1.0714rem + 2.2857vw, 2rem);
  }
}

@media (max-width: 300px) {
  .logo {
    padding: 50px 15px;
  }
}

@media (max-height: 600px) {
  .screen--name-input {
    height: 320px;
  }
}

@media (orientation: portrait) and (max-height: 950px) {
  footer {
    position: relative;
    padding: 15px;
    margin: 0;
  }
}
